<a href="https://colab.research.google.com/github/Alessandratare/Coursera_Capstone/blob/main/Coursera_Sem3%20pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [3]:
#!conda install -c conda-forge geopy --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare
from geopy.geocoders import Nominatim # convertiendo una dirección en valores de latitud y longitud

import requests # librería para manejar solicitudes
from pandas.io.json import json_normalize # librería para convertir un archivo json en un dataframe pandas

# Matplotlib y módulos asociados para graficar
import matplotlib.cm as cm
import matplotlib.colors as colors

# importar k-means desde la fase de agrupación
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare
import folium # librería para graficar mapas

print('Libraries imported.')

Libraries imported.

In [4]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

In [5]:
table = soup.find('table')

In [6]:
file=[]
ncol=list(range(0,9))

for i in ncol :

    for row in table.find_all('tr'): # in html table row is represented by the table
    # Get all columns in each row.
        cols = row.find_all('p') # in html a column is represented by the tag td or p
        file.append(cols[i].getText())

    # convert to dataframe:
df= pd.DataFrame(file)

In [7]:
df["Postal Code"]=df[0].str[0:3]
df["Borough"]=df[0].str[3:].str.split("(",n=1,expand=True)[0]
df["Neigh"]=df[0].str.rsplit("(",n=2,expand=True)[1].str.split(")",n=1,expand=True)[0]
df["Neighbourhood"]=df["Neigh"].str.replace(" / ",",")

In [8]:
postalcode_list=df[(df["Borough"]!="Not assigned\n")]
postalcode_list=postalcode_list.drop([0,"Neigh"],axis=1)

In [9]:
postalcode_list.head()

  Postal Code      Borough                         Neighbourhood
1         M1B  Scarborough                         Malvern,Rouge
2         M1C  Scarborough  Rouge Hill,Port Union,Highland Creek
3         M1E  Scarborough       Guildwood,Morningside,West Hill
4         M1G  Scarborough                                Woburn
5         M1H  Scarborough                             Cedarbrae

In [10]:
postalcode_list.shape

(103, 3)

PARTE 2

In [12]:
#"http://cocl.us/Geospatial_data"
Geospatial_Coordinates=pd.read_csv("/content/Geospatial_Coordinates.csv")

In [13]:
coord_list=pd.merge(postalcode_list,Geospatial_Coordinates,on="Postal Code")

In [14]:
coord_list.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476